1.Import Libraries

In [175]:
import numpy as np 
import pandas as pd 
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import pickle

2.Load Dataset

In [176]:
education_dataset = pd.read_csv('virtualeducationadaptability.csv')

In [177]:
education_dataset.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [178]:
education_dataset.tail()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate
1202,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1204,Girl,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate

In [179]:
education_dataset.shape

(1205, 14)

In [180]:
education_dataset.isna().sum()

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

In [181]:
education_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education Level      1205 non-null   object
 3   Institution Type     1205 non-null   object
 4   IT Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load-shedding        1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Class Duration       1205 non-null   object
 11  Self Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [182]:
education_dataset.columns = education_dataset.columns.str.replace(' ','_')
education_dataset.columns = education_dataset.columns.str.replace('-','_')

In [183]:
education_dataset.describe()

,Gender,Age,Education_Level,Institution_Type,IT_Student,Location,Load_shedding,Financial_Condition,Internet_Type,Network_Type,Class_Duration,Self_Lms,Device,Adaptivity_Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

In [199]:
education_dataset.nunique

<bound method DataFrame.nunique of       Gender Age_Range Education_Level Institution_Type IT_Student Location  \
0       Male     21-25      University   Non Government         No      Yes
1     Female     21-25      University   Non Government         No      Yes
2     Female     16-20         College       Government         No      Yes
3     Female     11-15          School   Non Government         No      Yes
4     Female     16-20          School   Non Government         No      Yes
...      ...       ...             ...              ...        ...      ...
1200  Female     16-20         College   Non Government         No      Yes
1201  Female     16-20         College   Non Government         No       No
1202    Male     11-15          School   Non Government         No      Yes
1203  Female     16-20         College   Non Government         No       No
1204  Female     11-15          School   Non Government         No      Yes

     Load_shedding Financial_Condition Internet_Type Network_Type  \
0              Low        Middle Class          Wifi           4G
1             High        Middle Class   Mobile Data           4G
2              Low        Middle Class          Wifi           4G
3              Low        Middle Class   Mobile Data           4G
4              Low         Lower Class   Mobile Data           3G
...            ...                 ...           ...          ...
1200           Low        Middle Class          Wifi           4G
1201          High        Middle Class          Wifi           4G
1202           Low        Middle Class   Mobile Data           3G
1203           Low        Middle Class          Wifi           4G
1204           Low         Lower Class   Mobile Data           3G

     Class_Duration Self_Lms  Device Adaptivity_Level
0               3-6       No     Tab         Moderate
1               1-3      Yes  Mobile         Moderate
2               1-3       No  Mobile         Moderate
3               1-3       No  Mobile         Moderate
4                 0       No  Mobile              Low
...             ...      ...     ...              ...
1200            1-3       No  Mobile              Low
1201            3-6       No  Mobile         Moderate
1202            1-3       No  Mobile         Moderate
1203            1-3       No  Mobile              Low
1204            1-3       No  Mobile         Moderate

[1205 rows x 14 columns]>

In [184]:
education_dataset.rename(columns = {'Age': 'Age_Range'}, inplace = True)

education_dataset.replace("Boy","Male", inplace=True)
education_dataset.replace("Girl","Female", inplace=True)
education_dataset.replace("Poor","Lower Class", inplace=True)
education_dataset.replace("Mid","Middle Class", inplace=True)
education_dataset.replace("Rich","Upper Class", inplace=True)

In [185]:
education_dataset.head()

,Gender,Age_Range,Education_Level,Institution_Type,IT_Student,Location,Load_shedding,Financial_Condition,Internet_Type,Network_Type,Class_Duration,Self_Lms,Device,Adaptivity_Level
0,Male,21-25,University,Non Government,No,Yes,Low,Middle Class,Wifi,4G,3-6,No,Tab,Moderate
1,Female,21-25,University,Non Government,No,Yes,High,Middle Class,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Female,16-20,College,Government,No,Yes,Low,Middle Class,Wifi,4G,1-3,No,Mobile,Moderate
3,Female,11-15,School,Non Government,No,Yes,Low,Middle Class,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Female,16-20,School,Non Government,No,Yes,Low,Lower Class,Mobile Data,3G,0,No,Mobile,Low

In [186]:
education_dataset.dtypes

Gender                 object
Age_Range              object
Education_Level        object
Institution_Type       object
IT_Student             object
Location               object
Load_shedding          object
Financial_Condition    object
Internet_Type          object
Network_Type           object
Class_Duration         object
Self_Lms               object
Device                 object
Adaptivity_Level       object
dtype: object

In [187]:
category_col = ['Gender', 'Age_Range', 'Education_Level', 'Institution_Type', 'IT_Student', 'Location', 'Load_shedding', 'Financial_Condition', 'Internet_Type', 'Network_Type', 'Class_Duration', 'Self_Lms', 'Device', 'Adaptivity_Level']
lbl_data = education_dataset.copy()
education_input = education_dataset[category_col].copy()
encoder_dict = dict()

for cat in category_col:
    encoder = preprocessing.LabelEncoder()
    education_dataset[cat] = education_dataset[cat].str.lstrip()
    encoder = encoder.fit(education_input[cat])
    encoder_dict[cat] = encoder

    lbl_data[cat] = encoder.transform(education_input[cat])

In [188]:
education_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age_Range            1205 non-null   object
 2   Education_Level      1205 non-null   object
 3   Institution_Type     1205 non-null   object
 4   IT_Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load_shedding        1205 non-null   object
 7   Financial_Condition  1205 non-null   object
 8   Internet_Type        1205 non-null   object
 9   Network_Type         1205 non-null   object
 10  Class_Duration       1205 non-null   object
 11  Self_Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity_Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [189]:
lbl_data.dtypes

Gender                 int32
Age_Range              int32
Education_Level        int32
Institution_Type       int32
IT_Student             int32
Location               int32
Load_shedding          int32
Financial_Condition    int32
Internet_Type          int32
Network_Type           int32
Class_Duration         int32
Self_Lms               int32
Device                 int32
Adaptivity_Level       int32
dtype: object

In [190]:
lbl_data.head()

,Gender,Age_Range,Education_Level,Institution_Type,IT_Student,Location,Load_shedding,Financial_Condition,Internet_Type,Network_Type,Class_Duration,Self_Lms,Device,Adaptivity_Level
0,1,3,2,1,0,1,1,1,1,2,2,0,2,2
1,0,3,2,1,0,1,0,1,0,2,1,1,1,2
2,0,2,0,0,0,1,1,1,1,2,1,0,1,2
3,0,1,1,1,0,1,1,1,0,2,1,0,1,2
4,0,2,1,1,0,1,1,0,0,1,0,0,1,1

In [191]:
print(encoder_dict)

{'Gender': LabelEncoder(), 'Age_Range': LabelEncoder(), 'Education_Level': LabelEncoder(), 'Institution_Type': LabelEncoder(), 'IT_Student': LabelEncoder(), 'Location': LabelEncoder(), 'Load_shedding': LabelEncoder(), 'Financial_Condition': LabelEncoder(), 'Internet_Type': LabelEncoder(), 'Network_Type': LabelEncoder(), 'Class_Duration': LabelEncoder(), 'Self_Lms': LabelEncoder(), 'Device': LabelEncoder(), 'Adaptivity_Level': LabelEncoder()}

In [192]:
encoder_pickle_out = open("encoder.pkl", "wb")
pickle.dump(encoder_dict, encoder_pickle_out)
encoder_pickle_out.close()

In [193]:
X = lbl_data.drop(columns='Adaptivity_Level', axis=1)
Y = lbl_data['Adaptivity_Level']

In [194]:
print(X)

      Gender  Age_Range  Education_Level  Institution_Type  IT_Student  \
0          1          3                2                 1           0
1          0          3                2                 1           0
2          0          2                0                 0           0
3          0          1                1                 1           0
4          0          2                1                 1           0
...      ...        ...              ...               ...         ...
1200       0          2                0                 1           0
1201       0          2                0                 1           0
1202       1          1                1                 1           0
1203       0          2                0                 1           0
1204       0          1                1                 1           0

      Location  Load_shedding  Financial_Condition  Internet_Type  \
0            1              1                    1              1
1            1              0                    1              0
2            1              1                    1              1
3            1              1                    1              0
4            1              1                    0              0
...        ...            ...                  ...            ...
1200         1              1                    1              1
1201         0              0                    1              1
1202         1              1                    1              0
1203         0              1                    1              1
1204         1              1                    0              0

      Network_Type  Class_Duration  Self_Lms  Device
0                2               2         0       2
1                2               1         1       1
2                2               1         0       1
3                2               1         0       1
4                1               0         0       1
...            ...             ...       ...     ...
1200             2               1         0       1
1201             2               2         0       1
1202             1               1         0       1
1203             2               1         0       1
1204             1               1         0       1

[1205 rows x 13 columns]

In [195]:
print(Y)

0       2
1       2
2       2
3       2
4       1
       ..
1200    1
1201    2
1202    2
1203    1
1204    2
Name: Adaptivity_Level, Length: 1205, dtype: int32

In [196]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [197]:
rf = RandomForestClassifier(n_estimators=100, random_state=0)
rf.fit(X_train, Y_train)
ypred = rf.predict(X_test)
print(classification_report(Y_test, ypred))
print("Accuracy Score:", accuracy_score(Y_test, ypred))

              precision    recall  f1-score   support

           0       0.88      0.70      0.78        20
           1       0.92      0.89      0.90        96
           2       0.89      0.94      0.91       125

    accuracy                           0.90       241
   macro avg       0.90      0.84      0.87       241
weighted avg       0.90      0.90      0.90       241

Accuracy Score: 0.9004149377593361

In [198]:
pickle_out = open("model.pkl", "wb")
pickle.dump(rf, pickle_out)
pickle_out.close()